<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кемпер Енисей</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <p>логотип</p>
    </div>
    <ul class="menu">
     <li><a href="../index.html">Главная</a></li>
     <li><a href="../contacts.html">Контакты</a></li>
    </ul>
    </div>
    <div class="footer">

    </div>

<img src="../../static/img/photo.png" alt="Енисей">
<div class="fon">
<h3>Краткое описание товара</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Consectetur, pariatur!</p>
<h3>Подробное описание товара</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Cumque, deleniti dolores facilis inventore ipsum maiores nisi odio
rem repellendus sequi sint sit sunt voluptas? Adipisci aspernatur autem
beatae commodi debitis distinctio eaque eligendi error eum, explicabo
facilis in&nbsp;ipsum iusto laboriosam, numquam optio placeat quibusdam tempora
unde vero vitae voluptate?</p>
<h3>Технические характеристики</h3>
     <ul>
         <li>Lorem ipsum dolor sit amet.</li>
         <li>Lorem ipsum dolor sit amet.</li>
         <li>Lorem ipsum dolor sit amet.</li>
         <li>Lorem ipsum dolor sit amet.</li>
         <li>Lorem ipsum dolor sit amet.</li>
     </ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusantium aliquid cupiditate est explicabo illum ipsa ipsum molestias
nemo nisi officia placeat, rem repellendus voluptates! Commodi impedit
officia quidem sit tenetur?</p>
</div>

<footer>
    <p>&copy; Все права защищены</p>
</footer>
</body>
</html>